@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5F5; /* Set your desired background color */
}

.tag-hover{
  display: block;
  /* display: inline-block;  */
  cursor: pointer;
  text-align: center;
  font-weight: normal; /* font-semibold */
  font-size: 1.125rem; /* text-lg */
  transition-property: color; /* transition-colors */
  transition-duration: 0.3s; /* duration-300 */
}
 .tag-hover:hover {
  color: #a5a7b4; /* text-slate-400 */
 }